@charset "utf-8";
/* CSS Document */
.tftable {
	font-size:14px;
	color:#333333;
	width:auto;
	border: 0;
	border-color: #729ea5;
	border-collapse: collapse;
}
.tfencabezado{
	background-color:#acc8cc;
	border:0;
}
.tftable th {
	font-size:14px;
	background-color:#acc8cc;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #729ea5;
	text-align:left;
}
.tftable tr {
	background-color:#d4e3e5;
	border:0;
}
.tftable td {
	font-size:14px;
	border: 1;
	padding: 8px;
	border-style:hidden;
	border-color: #729ea5;
}
.tftable tr:hover {
	background-color:#ffffff;
}

